.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainApp {
  background-color: rgb(182, 236, 235);
  height:max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.footer{
  /* position: absolute; */
  bottom: 0;
  background-color: lightslategray;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.image{
  /* height: 100px; */
  /* width: 100px; */
  width: 25%;
}

.project{
  flex-direction: row;
  width: 35%;
}

.about{
  flex-direction: row;
  justify-content:space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
