body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, span, label, input, button, a, li {
  font-family: "Montserrat";
}

nav {
  background-color: lightskyblue;
}

.navText, a, a:visited{
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.navTextName {
  color: black;
  font-size: 28px;
  text-decoration: none;
}

.button-color{
  background-color: black;
}

p {
  font-size: 18px;
}

.icons, .icons:visited {
  color: black;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}